body {
    background-color: #D4F6FF;
    margin: 0;
}

table, th, td {
    border: 1px solid;
}
header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 20px 40px 20px 40px;
    background-color: #FFDDAE;
    border-radius: 10px;
    margin-top: -20px;
    color: white;       
}

article {
    padding: 50px;
    background-color: white;
    max-width: 1400px;
    margin-left: 18px;
    margin-top: 30px;
    border-radius: 10px;
}
table > thead {
    background-color: rgba(249, 249, 249, 0.956);
}

table > thead > tr > th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

table > tbody > tr > td {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

table {
    background-color: black;
}

table > tbody > tr > td > a {
    text-decoration: none;
    color: black;
}

table {
    margin: 0 auto;
}

.profil {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    /* margin-top: 110px;
    position: relative; */
    /* top: 50px; */
    text-align: left;
    max-width: 200px;
}

article > footer > .tam-log > a {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

article > footer > .tam-log {
    text-align: right;
    max-width: 300px;
    position: relative;
    top: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    position: relative;
    top: 50px;
}